In [18]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import sesd
import statsmodels.api as sm
import os
import os.path as path
import sklearn.metrics

from datetime import timedelta
from sklearn.metrics import mean_absolute_percentage_error as mape
from sklearn.metrics import mean_squared_error as mse


%matplotlib inline

ImportError: cannot import name 'mean_absolute_percentage_error' from 'sklearn.metrics' (/Users/alenalapteva/anaconda3/lib/python3.8/site-packages/sklearn/metrics/__init__.py)

In [3]:
sns.set(style="darkgrid")
plt.rcParams.update({'figure.figsize': (7, 5), 'figure.dpi': 120})

In [4]:
df = pd.read_csv('../data/preprocessed/knn_imputated_ts.csv',
                       sep=',',
                       parse_dates=['date'], index_col=0)
df.head()

,7101_105005,7101_105043,7101_105264,7101_105523,7101_105554,7101_105568,7101_107589,7101_109263,7101_109382,7101_109383,...,7175_119311,7175_119619,7175_121374,7175_124460,7175_125222,7175_125239,7175_127204,7175_127276,7175_129110,7175_129164
date,,,,,,,,,,,,,,,,,,,,,
2016-11-06,19.250000,23.0,17.000000,21.0,28.000000,15.0,18.000000,13.0,29.222222,17.0,...,14.0,18.0,19.0,15.0,28.0,42.0,15.0,29.0,34.0,17.0
2016-11-13,19.611111,23.0,17.000000,21.0,26.814815,18.5,17.777778,13.0,16.000000,17.0,...,14.0,18.0,19.0,15.0,28.0,42.0,15.0,29.0,34.0,17.0
2016-11-20,19.000000,23.0,17.000000,21.0,30.000000,18.0,18.000000,13.0,33.000000,17.0,...,14.0,18.0,19.0,15.0,28.0,42.0,15.0,29.0,34.0,17.0
2016-11-27,19.500000,23.0,17.000000,21.0,26.000000,21.0,18.000000,13.0,38.666667,17.0,...,14.0,18.0,19.0,15.0,28.0,42.0,15.0,29.0,34.0,17.0
2016-12-04,20.333333,23.0,16.333333,20.5,24.444444,20.0,17.333333,13.0,16.000000,17.0,...,14.0,18.0,19.0,15.0,28.0,42.0,15.0,29.0,34.0,17.0

In [6]:
control_dates = pd.Series(['2017-10-01', '2017-12-31', '2018-04-22', 
               '2018-08-05', '2018-10-28'])
control_dates = pd.to_datetime(control_dates)

In [7]:
# planning horizon
ph = 14

In [9]:
cvset = []
for i, date in enumerate(control_dates):
    cvset.append(df[df.index <= date], df[ date < df.index <= date + timedelta(weeks=ph)])

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [12]:
a = df[pd.to_datetime('2017-10-01') < df.index <= pd.to_datetime('2017-10-01') + timedelta(weeks=14)]
a.shape

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [13]:
pd.to_datetime('2017-10-01') + timedelta(weeks=14)

NameError: name 'timedelta' is not defined